{% extends '../base.html' %}

{% block content%}

    <main>
        <div>
            <h1>My Tasks</h1>
            {% if user.tasks.all|length > 0 %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for item in user.tasks.all %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>{% if item.is_completed == True %}
                                Done
                            {% elif item.is_completed == False %}
                                <form method="post" action="{% url 'complete_task' item.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True">
                                    <button>Complete</button>
                                </form>
                            {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock %}