{% extends '../base.html' %}
{% load markdownify %}

{% block content%}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            {{ project.description|markdownify }}
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            <h2>Tasks</h2>
            {% if project.tasks.all|length > 0 %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for item in user.tasks.all %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.assignee }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>{{ item.is_completed }}</td>
                        </tr>
                    {% endfor %}
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </table>
    </div>
    </main>
{% endblock %}