{% extends '../base.html' %}

{% block content%}

    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% if user.projects.all|length == 0 %}
                <p>You are not assigned to any projects.</p>
            {% elif user.projects.all|length > 0 %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for item in user.projects.all %}
                        <tr>
                            <td><a href="{% url 'show_project' item.pk %}">{{ item.name }}</a></td>
                            <td>{{ item.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock %}